body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}
h1 {
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #eee;
}
/* Estilos para responsividade da tabela */
@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        width: auto;
    }
    thead th {
        white-space: nowrap;
    }
    tbody td {
        white-space: nowrap;
    }
}
/* Estilos para alertas de validade */
.validade-longa {
    background-color: #d4edda; /* Verde claro */
    color: #155724; /* Verde escuro */
}

.validade-proxima {
    background-color: #fff3cd; /* Amarelo claro */
    color: #85640c; /* Marrom escuro */
}

.validade-critica {
    background-color: #f8d7da; /* Vermelho claro */
    color: #721c24; /* Vermelho escuro */
}

.validade-vencida {
    background-color: #e74c3c; /* Vermelho mais escuro */
    color: white;
}

/* Estilo para a coluna de quantidade */
th:nth-child(6),
td:nth-child(6) {
    text-align: right;
}

/* Estilo para a coluna de ações */
th:nth-child(7),
td:nth-child(7) {
    text-align: center;
}

#formulario-adicionar {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#formulario-adicionar h2 {
    color: #333;
    margin-top: 0;
    margin-bottom: 15px;
}

#formulario-adicionar div {
    margin-bottom: 10px;
}

#formulario-adicionar label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

#formulario-adicionar input[type="text"],
#formulario-adicionar input[type="date"],
#formulario-adicionar input[type="number"] {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#formulario-adicionar button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#formulario-adicionar button[type="submit"]:hover {
    background-color: #0056b3;
}